<nav>
  <div class="site-title">
    <a href="/"><h1>Puppeteer Scraping</h1></a>
    <p>A New Puppeteer Scraping Site</p>
  </div>
  <ul>
    <li><a href="/">Scrapings</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Scraping</a></li>
  </ul>
</nav>
