<nav>
  <div class="site-title">
    <a href="/"><h1>Puppeteer Scraping</h1></a>
    <p>A New Puppeteer Scraping Site</p>
  </div>
  <ul>
    <li><a href="/">Scrapings</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/blogs/create">New Scraping</a></li>
    <%if(user){%>
    <li><a href="/logout">Log out</a></li>
    <%}else{%>
    <li><a href="/signup">Log in</a></li>
    <li><a href="/login">Log in</a></li>
    <%}%>
  </ul>
</nav>
