<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
    <p>signup</p>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
