<!DOCTYPE html>
<html lang="ja">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>Abuot Us</h2>
      <p>
        sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur
        aut odit aut fugit, sed quia nesciunt. consectetur, adipisci velit,
        dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
        nostrum exercitationem ullam corporis suscipit laboriosam, vel illum qui
        dolorem eum fugiat quo voluptas nulla pariatur
      </p>
      <p>
        totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
        architecto beatae vitae dicta Neque porro quisquam est, qui dolorem
        ipsum quia dolor sit amet, nisi ut aliquid ex ea commodi consequatur?
        Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse
        quam nihil molestiae consequatur,
      </p>
      <p>
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque laudantium,consequuntur magni dolores eos qui
        ratione voluptatem sequi sed quia non numquam eius modi tempora incidunt
        ut labore et
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
