@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@900&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap"); */

body {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
  font-family: Poppins, sans-serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Noto Serif", serif; */
}
p,
h1,
h2,
h3,
a,
ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
  /* 英字を改行させる */
  overflow-wrap: break-word;
  word-break: break-word;
  word-break: break-all;
}
b {
  color: #777;
}
nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
nav li {
  list-style-type: none;
  margin-left: 20px;
}
nav h1 {
  font-size: 3rem;
}
nav p,
nav a {
  color: #777;
  font-weight: 300;
}
footer {
  color: #777;
  text-align: center;
  margin: 80px auto 20px;
}
h2 {
  margin-bottom: 40px;
}
h3 {
  text-transform: capitalize;
  padding: 0 0 10px 0;
}
.content {
  margin-left: 20px;
}
.blogs a {
  display: block;
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
  padding: 15px 30px;
  /* Wild Rider Red */
  border-left: 7px solid #dc143c;
  background-color: #f1f1f1;
}
.blogs a:hover h3 {
  color: #dc143c;
}
.thumbnail {
  width: 130px;
  height: 130px;
  margin: auto 0;
}
.image {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.details {
  position: relative;
}
.delete {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  padding: 8px;
}
.delete:hover {
  cursor: pointer;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}
.create-blog form {
  max-width: 400px;
  margin: 0 auto;
}
.create-blog input,
.create-blog textarea {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 8px;
}
.create-blog label {
  display: block;
  margin-top: 24px;
}
textarea {
  height: 120px;
}
.create-blog button {
  margin-top: 20px;
  background: #dc143c;
  color: white;
  padding: 6px;
  border: 0;
  font-size: 1.2rem;
  cursor: pointer;
}

/* signup & login */

.login-form h2 {
  font-size: 2.4rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.login-form {
  width: 360px;
  margin: 10% auto;
  padding: 30px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: white;
}
.login-input {
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.login-label {
  display: block;
  margin: 20px 0 10px;
}
.login-button {
  margin: 30px 0;
  border-radius: 36px;
  background: #fee996;
  border: 0;
  padding: 10px;
}
