<nav>
  <div class="site-title">
    <a href="/"><h1>Puppeteer Scraping API</h1></a>
    <p>Find Your Favorite Site You Scrape With Puppeteer</p>
  </div>
  <ul>
    <li><a href="/">Lists</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/lists/create">Add</a></li>
    <%if(user){%>
    <li><a href="/logout">Log out</a></li>
    <%}else{%>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/login">Log in</a></li>
    <%}%>
  </ul>
</nav>
